
data/saliency/e-SLNI/transformer/checkpoint-train.pt_2_inputx_l2
data/saliency/e-SLNI/transformer/checkpoint-train.pt_2_inputx_mean
data/saliency/e-SLNI/transformer/checkpoint-train.pt_2_occlusion_none
data/saliency/e-SLNI/transformer/checkpoint-train.pt_2_sal_l2
data/saliency/e-SLNI/transformer/checkpoint-train.pt_2_sal_mean
data/saliency/e-SLNI/transformer/checkpoint-train.pt_3_guided_l2
data/saliency/e-SLNI/transformer/checkpoint-train.pt_3_guided_mean
data/saliency/e-SLNI/transformer/checkpoint-train.pt_3_inputx_l2
data/saliency/e-SLNI/transformer/checkpoint-train.pt_3_inputx_mean
data/saliency/e-SLNI/transformer/checkpoint-train.pt_3_occlusion_none
data/saliency/e-SLNI/transformer/checkpoint-train.pt_3_sal_l2
data/saliency/e-SLNI/transformer/checkpoint-train.pt_3_sal_mean
data/saliency/e-SLNI/transformer/checkpoint-train.pt_4_guided_l2
data/saliency/e-SLNI/transformer/checkpoint-train.pt_4_guided_mean
data/saliency/e-SLNI/transformer/checkpoint-train.pt_4_inputx_l2
data/saliency/e-SLNI/transformer/checkpoint-train.pt_4_inputx_mean
data/saliency/e-SLNI/transformer/checkpoint-train.pt_4_occlusion_none
data/saliency/e-SLNI/transformer/checkpoint-train.pt_4_sal_l2
data/saliency/e-SLNI/transformer/checkpoint-train.pt_4_sal_mean
data/saliency/e-SLNI/transformer/checkpoint-train.pt_5_guided_l2
data/saliency/e-SLNI/transformer/checkpoint-train.pt_5_guided_mean
data/saliency/e-SLNI/transformer/checkpoint-train.pt_5_inputx_l2
data/saliency/e-SLNI/transformer/checkpoint-train.pt_5_inputx_mean
data/saliency/e-SLNI/transformer/checkpoint-train.pt_5_occlusion_none
data/saliency/e-SLNI/transformer/checkpoint-train.pt_5_sal_l2
data/saliency/e-SLNI/transformer/checkpoint-train.pt_5_sal_mean
data/saliency/e-SLNI/transformer/checkpoint-train.pt_lime
data/saliency/e-SLNI/transformer/checkpoint-train.pt_shap
data/saliency/e-SLNI/transformer/checkpoint_train.pt_1_guided
data/saliency/e-SLNI/transformer/checkpoint_train.pt_1_guided_mean
data/saliency/e-SLNI/transformer/checkpoint_train.pt_lime
data/saliency/e-SLNI/transformer/checkpoint_train.pt_shap
data/saliency/e-SLNI/transformer/trans_1_rand
data/saliency/e-SLNI/transformer/transformer_snli_2e5_1_lime
data/saliency/e-SLNI/transformer/transformer_snli_2e5_1_shap
data/saliency/e-SLNI/transformer_snli_2e5_1_lime
test1/checkpoint_transformers.pt_1_guided
test1/checkpoint_transformers.pt_1_guided_l2
test1/checkpoint_transformers.pt_1_guided_mean
test1/checkpoint_transformers.pt_2_guided_l2
test1/checkpoint_transformers.pt_2_guided_mean
test1/checkpoint_transformers.pt_3_guided_l2
test1/checkpoint_transformers.pt_3_guided_mean
test1/checkpoint_transformers.pt_4_guided_l2
test1/checkpoint_transformers.pt_4_guided_mean
test1/checkpoint_transformers.pt_5_guided_l2
test1/checkpoint_transformers.pt_5_guided_mean
test1/test_same_seed_1/checkpoint_transformers.pt_1_guided_l2
test1/test_same_seed_1/checkpoint_transformers.pt_1_guided_mean
test1/test_same_seed_1/checkpoint_transformers.pt_2_guided_l2
test1/test_same_seed_1/checkpoint_transformers.pt_2_guided_mean
test1/test_same_seed_1/checkpoint_transformers.pt_3_guided_l2
test1/test_same_seed_1/checkpoint_transformers.pt_3_guided_mean
test1/test_same_seed_1/checkpoint_transformers.pt_4_guided_l2
test1/test_same_seed_1/checkpoint_transformers.pt_4_guided_mean
test1/test_same_seed_1/checkpoint_transformers.pt_5_guided_l2
test1/test_same_seed_1/checkpoint_transformers.pt_5_guided_mean
test1/test_same_seed_2/checkpoint_transformers.pt_1_guided_mean
test1/test_same_seed_2/checkpoint_transformers.pt_2_guided_mean
test1/test_same_seed_2/checkpoint_transformers.pt_3_guided_mean
test1/test_same_seed_2/checkpoint_transformers.pt_4_guided_mean
test2/checkpoint_transformers.pt_1_guided_l2
test2/checkpoint_transformers.pt_1_guided_mean
test2/checkpoint_transformers.pt_2_guided_l2
test2/checkpoint_transformers.pt_2_guided_mean
test2/checkpoint_transformers.pt_3_guided_l2
test2/checkpoint_transformers.pt_3_guided_mean
test2/checkpoint_transformers.pt_4_guided_l2
test2/checkpoint_transformers.pt_4_guided_mean
test2/checkpoint_transformers.pt_5_guided_l2
test2/checkpoint_transformers.pt_5_guided_mean
models/(1).DS_Store
transformer/transformer_snli_2e5_1_lime
transformer/transformer_snli_2e5_1_shap
e-SNLI/
models/snli/transformer/transformer_snli_2e5_1.predictions
models/snli/transformer/transformer_snli_2e5_1.zip
